@model Bootcamp.Models.UserViewModel.ApiResponseModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Dashboard/Dashboard_Layout.cshtml";
}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

<body class="dashboard" id="dashboard">
    <div class="container">
        <nav class="sidebar dashboard">
            <div>
                <div class="sidebar__logo">
                    <a asp-controller="Breakinto" asp-action="Index">
                        <img src="/images/bullseyelogo.png" />
                    </a>
                </div>

                <ul class="side-nav">
                    <span class="side-nav__header">Main Menu</span>
                    <li class="side-nav__item side-nav__item-active">
                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.30664 17.1375V15.24" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                            <path d="M11 17.1375V13.3425" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                            <path d="M15.6934 17.1375V11.4358" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                            <path d="M15.6933 5.86255L15.2716 6.35755C12.9341 9.08922 9.79914 11.0234 6.30664 11.8942" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M13.0073 5.86255H15.6932V8.53922" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8.25016 20.6667H13.7502C18.3335 20.6667 20.1668 18.8334 20.1668 14.25V8.75004C20.1668 4.16671 18.3335 2.33337 13.7502 2.33337H8.25016C3.66683 2.33337 1.8335 4.16671 1.8335 8.75004V14.25C1.8335 18.8334 3.66683 20.6667 8.25016 20.6667Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <a href="#test-result">
                            <span>Test Result</span>
                        </a>
                    </li>

                    <li class="side-nav__item">
                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0002 20.6666C16.0418 20.6666 20.1668 16.5416 20.1668 11.5C20.1668 6.45831 16.0418 2.33331 11.0002 2.33331C5.9585 2.33331 1.8335 6.45831 1.8335 11.5C1.8335 16.5416 5.9585 20.6666 11.0002 20.6666Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M11 7.83331V12.4166" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M10.9951 15.1667H11.0034" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <a href="#details">
                            <span>Profile</span>
                        </a>
                    </li>
                    <li class="side-nav__item">
                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0002 20.6666C16.0418 20.6666 20.1668 16.5416 20.1668 11.5C20.1668 6.45831 16.0418 2.33331 11.0002 2.33331C5.9585 2.33331 1.8335 6.45831 1.8335 11.5C1.8335 16.5416 5.9585 20.6666 11.0002 20.6666Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M11 7.83331V12.4166" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M10.9951 15.1667H11.0034" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <a href="#details">
                            <span>Edit Details</span>
                        </a>
                    </li>
                    <li class="side-nav__item">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.33309 20.1667H14.6664C18.3514 20.1667 19.0114 18.6908 19.2039 16.8942L19.8914 9.56083C20.1389 7.32417 19.4973 5.5 15.5831 5.5H6.41643C2.50226 5.5 1.86059 7.32417 2.10809 9.56083L2.79559 16.8942C2.98809 18.6908 3.64809 20.1667 7.33309 20.1667Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M7.3335 5.49998V4.76665C7.3335 3.14415 7.3335 1.83331 10.2668 1.83331H11.7335C14.6668 1.83331 14.6668 3.14415 14.6668 4.76665V5.49998" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M12.8332 11.9167V12.8333C12.8332 12.8425 12.8332 12.8425 12.8332 12.8517C12.8332 13.8508 12.824 14.6667 10.9998 14.6667C9.18484 14.6667 9.1665 13.86 9.1665 12.8608V11.9167C9.1665 11 9.1665 11 10.0832 11H11.9165C12.8332 11 12.8332 11 12.8332 11.9167Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M19.846 10.0833C17.7285 11.6233 15.3085 12.54 12.8335 12.8516" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M2.40186 10.3308C4.46436 11.7425 6.79269 12.595 9.16686 12.8608" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <div class="theme-toggler active">
                            <span>Dark Mode</span> @*<i class="toggler-icon"></i>*@
                        </div>
                    </li>
                </ul>
            </div>

            <ul class="side-nav">
                <li class="side-nav__item last-item">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.8999 8.05999C9.2099 4.45999 11.0599 2.98999 15.1099 2.98999H15.2399C19.7099 2.98999 21.4999 4.77999 21.4999 9.24999V15.77C21.4999 20.24 19.7099 22.03 15.2399 22.03H15.1099C11.0899 22.03 9.2399 20.58 8.9099 17.04" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M15.0001 12.5H3.62012" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M5.85 9.14999L2.5 12.5L5.85 15.85" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <a href="">
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </nav>

        <main class="main-content">
            <div class="top-container">

                <div class="user-nav">

                    <div class="user-info">
                        <svg class="user-image" style="margin-right: -60px; z-index: 1;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" fill="white" fill-opacity="0.01" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM12.0321 19C8.67459 19 6.80643 17.2316 6.80643 14V13H17.1158L17.1434 13.9715C17.2358 17.2145 15.4003 19 12.0321 19ZM15.0875 15C14.8526 16.3955 13.9089 17 12.0321 17C10.1563 17 9.18179 16.3902 8.89677 15H15.0875ZM14 8H17V10H14V8ZM10 8H7V10H10V8Z" fill="black" />
                        </svg>
                        <div class="rp_dropdown_demo">
                            <input type="checkbox" id="dropdown_rp_ids">

                            <label class="dropdown_padding_demo" for="dropdown_rp_ids">
                                <div class="dropdown_main_text"><span class="user-name">@Model.FirstName</span></div>

                                <div class="dropdown_arrow_demo"></div>
                            </label>

                            @* <ul class="dropdown_items_rp_demo">
                            <li><i class="fa fa-edit"></i><a asp-action="Index" asp-controller="Breakinto">Home</a></li>
                            <li><i class="fa fa-user"></i> Profile</li>
                            <li><i class="fa fa-pencil-square-o"></i> Edit</li>
                            <li><i class="fa fa-hand-o-up"></i> Score</li>
                            <li><i class="fa fa-sign-out"></i> Logout</li>
                            </ul>*@
                        </div>

                        <svg id="dropdown_svg_demo">
                            <filter id="goo">
                                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                                <feBlend in="SourceGraphic" in2="goo" />
                            </filter>
                        </svg>
                    </div>
                </div>
            </div>

            <div id="test-result" class="bottom-container">
                <div class="bottom-container__left">

                    <div class="box spending-box dashboard">
                        <div class="header-container">
                            <h3 class="section-header">Test Result</h3>
                        </div>
                        <div class="pie-chart">
                            <canvas id="myChart2" height="220px" width="220px"></canvas>
                        </div>
                        <div class="overall-spending">
                            <h4>Total Score</h4>
                            <span id="total-score"></span>
                        </div>
                        <div class="pie-chart__labels">
                            <div class="pie-chart__labels-item">
                                <div class="label">
                                    <div class="label__color first"></div>
                                    HTML
                                </div>
                                @foreach (var test in Model.Tests)
                                {
                                    if (test.TestType == "Html")
                                    {
                                        <span id="score1"> @test.Score </span>
                                    }
                                }

                            </div>
                            <div class="pie-chart__labels-item">
                                <div class="label">
                                    <div class="label__color second"></div>
                                    CSS
                                </div>
                                @foreach (var test in Model.Tests)
                                {
                                    if (test.TestType == "Css")
                                    {
                                        <span id="score2"> @test.Score </span>
                                    }
                                }

                            </div>
                            <div class="pie-chart__labels-item">
                                <div class="label">
                                    <div class="label__color third"></div>
                                    JavaScript
                                </div>
                                @foreach (var test in Model.Tests)
                                {
                                    if (test.TestType == "Js")
                                    {
                                        <span id="score3"> @test.Score </span>
                                    }
                                }

                            </div>

                        </div>
                    </div>

                    <div class="box transaction-box dashboard">
                        <div class="header-container">
                            <h3 class="section-header">Test History</h3>
                            <div class="date-selector">

                                <span>24 Aug 2023</span>
                            </div>
                        </div>
                        <table class="transaction-history dashboard">
                            <tr>
                                <th>Test</th>
                                @*<th>
                                    Date
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.96004 4.47498L6.70004 7.73498C6.31504 8.11998 5.68504 8.11998 5.30004 7.73498L2.04004 4.47498" stroke="#90A3BF" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </th>*@
                                <th>
                                    Score
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.96004 4.47498L6.70004 7.73498C6.31504 8.11998 5.68504 8.11998 5.30004 7.73498L2.04004 4.47498" stroke="#90A3BF" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </th>
                                <th>
                                    Status
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.96004 4.47498L6.70004 7.73498C6.31504 8.11998 5.68504 8.11998 5.30004 7.73498L2.04004 4.47498" stroke="#90A3BF" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="18" cy="18" r="18" fill="#33B938" fill-opacity="0.1" />
                                        <path d="M24.875 21.8125V23.875H11.125V21.8125C11.125 21.4344 11.4344 21.125 11.8125 21.125H24.1875C24.5656 21.125 24.875 21.4344 24.875 21.8125Z" fill="#33B938" stroke="#33B938" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13.6875 20.625V16.8125H14.0625V20.625H13.6875Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M16.4375 20.625V16.8125H16.8125V20.625H16.4375Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M19.1875 20.625V16.8125H19.5625V20.625H19.1875Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M21.9375 20.625V16.8125H22.3125V20.625H21.9375Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M25.5625 23.8906H10.4375C10.4367 23.8906 10.436 23.8905 10.4346 23.89C10.4328 23.8892 10.4302 23.8876 10.4275 23.885C10.4249 23.8823 10.4233 23.8797 10.4225 23.8779C10.422 23.8765 10.4219 23.8758 10.4219 23.875C10.4219 23.8742 10.422 23.8735 10.4225 23.8721C10.4233 23.8703 10.4249 23.8677 10.4275 23.865C10.4302 23.8624 10.4328 23.8608 10.4346 23.86C10.436 23.8595 10.4367 23.8594 10.4375 23.8594H25.5625C25.5633 23.8594 25.564 23.8595 25.5654 23.86C25.5672 23.8608 25.5698 23.8624 25.5725 23.865C25.5751 23.8677 25.5767 23.8703 25.5775 23.8721C25.578 23.8735 25.5781 23.8742 25.5781 23.875C25.5781 23.8758 25.578 23.8765 25.5775 23.8779C25.5767 23.8797 25.5751 23.8823 25.5725 23.885C25.5698 23.8876 25.5672 23.8892 25.5654 23.89C25.564 23.8905 25.5633 23.8906 25.5625 23.8906Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M18.058 10.691C18.0659 10.6923 18.0707 10.6934 18.0725 10.6939L24.2562 13.1674C24.2675 13.1719 24.302 13.1932 24.335 13.2419C24.368 13.2904 24.375 13.33 24.375 13.3425V15.625C24.375 15.727 24.2895 15.8125 24.1875 15.8125H11.8125C11.7105 15.8125 11.625 15.727 11.625 15.625V13.3425C11.625 13.33 11.632 13.2904 11.665 13.2419C11.698 13.1932 11.7325 13.1719 11.7438 13.1674L17.9275 10.6939C17.9293 10.6934 17.9341 10.6923 17.942 10.691C17.9573 10.6886 17.9775 10.6869 18 10.6869C18.0225 10.6869 18.0427 10.6886 18.058 10.691ZM16.4688 13.5625C16.4688 14.4093 17.1532 15.0938 18 15.0938C18.8468 15.0938 19.5312 14.4093 19.5312 13.5625C19.5312 12.7157 18.8468 12.0313 18 12.0313C17.1532 12.0313 16.4688 12.7157 16.4688 13.5625Z" fill="#33B938" stroke="#33B938" />
                                    </svg>
                                    HTML
                                </td>
                                @foreach (var test in Model.Tests)
                                {
                                    if (test.TestType == "Html")
                                    {
                                        @*<td>NIL</td>*@
                                        <td>@test.Score</td>
                                        <td>
                                            <svg class="status" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="16" height="16" rx="8" fill="#BCE455" fill-opacity="0.3" />
                                                <circle cx="8" cy="8" r="4" fill="#7FB519" />
                                            </svg>
                                            @test.IsPassed
                                        </td>
                                    }
                                }

                            </tr>
                            <tr>
                                <td>
                                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="18" cy="18" r="18" fill="#33B938" fill-opacity="0.1" />
                                        <path d="M24.875 21.8125V23.875H11.125V21.8125C11.125 21.4344 11.4344 21.125 11.8125 21.125H24.1875C24.5656 21.125 24.875 21.4344 24.875 21.8125Z" fill="#33B938" stroke="#33B938" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13.6875 20.625V16.8125H14.0625V20.625H13.6875Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M16.4375 20.625V16.8125H16.8125V20.625H16.4375Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M19.1875 20.625V16.8125H19.5625V20.625H19.1875Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M21.9375 20.625V16.8125H22.3125V20.625H21.9375Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M25.5625 23.8906H10.4375C10.4367 23.8906 10.436 23.8905 10.4346 23.89C10.4328 23.8892 10.4302 23.8876 10.4275 23.885C10.4249 23.8823 10.4233 23.8797 10.4225 23.8779C10.422 23.8765 10.4219 23.8758 10.4219 23.875C10.4219 23.8742 10.422 23.8735 10.4225 23.8721C10.4233 23.8703 10.4249 23.8677 10.4275 23.865C10.4302 23.8624 10.4328 23.8608 10.4346 23.86C10.436 23.8595 10.4367 23.8594 10.4375 23.8594H25.5625C25.5633 23.8594 25.564 23.8595 25.5654 23.86C25.5672 23.8608 25.5698 23.8624 25.5725 23.865C25.5751 23.8677 25.5767 23.8703 25.5775 23.8721C25.578 23.8735 25.5781 23.8742 25.5781 23.875C25.5781 23.8758 25.578 23.8765 25.5775 23.8779C25.5767 23.8797 25.5751 23.8823 25.5725 23.885C25.5698 23.8876 25.5672 23.8892 25.5654 23.89C25.564 23.8905 25.5633 23.8906 25.5625 23.8906Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M18.058 10.691C18.0659 10.6923 18.0707 10.6934 18.0725 10.6939L24.2562 13.1674C24.2675 13.1719 24.302 13.1932 24.335 13.2419C24.368 13.2904 24.375 13.33 24.375 13.3425V15.625C24.375 15.727 24.2895 15.8125 24.1875 15.8125H11.8125C11.7105 15.8125 11.625 15.727 11.625 15.625V13.3425C11.625 13.33 11.632 13.2904 11.665 13.2419C11.698 13.1932 11.7325 13.1719 11.7438 13.1674L17.9275 10.6939C17.9293 10.6934 17.9341 10.6923 17.942 10.691C17.9573 10.6886 17.9775 10.6869 18 10.6869C18.0225 10.6869 18.0427 10.6886 18.058 10.691ZM16.4688 13.5625C16.4688 14.4093 17.1532 15.0938 18 15.0938C18.8468 15.0938 19.5312 14.4093 19.5312 13.5625C19.5312 12.7157 18.8468 12.0313 18 12.0313C17.1532 12.0313 16.4688 12.7157 16.4688 13.5625Z" fill="#33B938" stroke="#33B938" />
                                    </svg>
                                    CSS
                                </td>
                                @foreach(var test in Model.Tests)
                                {
                                    if (test.TestType == "Css")
                                    {
                                        @*<td>NIL</td>*@
                                        <td>@test.Score</td>
                                        <td>
                                            <svg class="status" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="16" height="16" rx="8" fill="#DBA32A" fill-opacity="0.14" />
                                                <circle cx="8" cy="8" r="4" fill="#DBA32A" />
                                            </svg>
                                            @test.IsPassed
                                        </td>
                                    }
                                }
                               
                            </tr>
                            <tr>
                                <td>
                                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="18" cy="18" r="18" fill="#33B938" fill-opacity="0.1" />
                                        <path d="M24.875 21.8125V23.875H11.125V21.8125C11.125 21.4344 11.4344 21.125 11.8125 21.125H24.1875C24.5656 21.125 24.875 21.4344 24.875 21.8125Z" fill="#33B938" stroke="#33B938" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13.6875 20.625V16.8125H14.0625V20.625H13.6875Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M16.4375 20.625V16.8125H16.8125V20.625H16.4375Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M19.1875 20.625V16.8125H19.5625V20.625H19.1875Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M21.9375 20.625V16.8125H22.3125V20.625H21.9375Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M25.5625 23.8906H10.4375C10.4367 23.8906 10.436 23.8905 10.4346 23.89C10.4328 23.8892 10.4302 23.8876 10.4275 23.885C10.4249 23.8823 10.4233 23.8797 10.4225 23.8779C10.422 23.8765 10.4219 23.8758 10.4219 23.875C10.4219 23.8742 10.422 23.8735 10.4225 23.8721C10.4233 23.8703 10.4249 23.8677 10.4275 23.865C10.4302 23.8624 10.4328 23.8608 10.4346 23.86C10.436 23.8595 10.4367 23.8594 10.4375 23.8594H25.5625C25.5633 23.8594 25.564 23.8595 25.5654 23.86C25.5672 23.8608 25.5698 23.8624 25.5725 23.865C25.5751 23.8677 25.5767 23.8703 25.5775 23.8721C25.578 23.8735 25.5781 23.8742 25.5781 23.875C25.5781 23.8758 25.578 23.8765 25.5775 23.8779C25.5767 23.8797 25.5751 23.8823 25.5725 23.885C25.5698 23.8876 25.5672 23.8892 25.5654 23.89C25.564 23.8905 25.5633 23.8906 25.5625 23.8906Z" fill="#33B938" stroke="#33B938" />
                                        <path d="M18.058 10.691C18.0659 10.6923 18.0707 10.6934 18.0725 10.6939L24.2562 13.1674C24.2675 13.1719 24.302 13.1932 24.335 13.2419C24.368 13.2904 24.375 13.33 24.375 13.3425V15.625C24.375 15.727 24.2895 15.8125 24.1875 15.8125H11.8125C11.7105 15.8125 11.625 15.727 11.625 15.625V13.3425C11.625 13.33 11.632 13.2904 11.665 13.2419C11.698 13.1932 11.7325 13.1719 11.7438 13.1674L17.9275 10.6939C17.9293 10.6934 17.9341 10.6923 17.942 10.691C17.9573 10.6886 17.9775 10.6869 18 10.6869C18.0225 10.6869 18.0427 10.6886 18.058 10.691ZM16.4688 13.5625C16.4688 14.4093 17.1532 15.0938 18 15.0938C18.8468 15.0938 19.5312 14.4093 19.5312 13.5625C19.5312 12.7157 18.8468 12.0313 18 12.0313C17.1532 12.0313 16.4688 12.7157 16.4688 13.5625Z" fill="#33B938" stroke="#33B938" />
                                    </svg>
                                    JavaScript
                                </td>
                                @foreach(var test in Model.Tests)
                                {
                                    if (test.TestType == "Js")
                                    {
                                       @* <td>NIL</td>*@
                                        <td>@test.Score</td>
                                        <td>
                                            <svg class="status" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="16" height="16" rx="8" fill="#DB2719" fill-opacity="0.3" />
                                                <circle cx="8" cy="8" r="4" fill="#DB2719" />
                                            </svg>
                                            @test.IsPassed
                                        </td>
                                    }
                                }
                                
                            </tr>
                        </table>
                    </div>
                </div>


                <div id="details" class="box transaction-box dashboard">
                    <div class="header-container">
                        <h3 class="section-header">Edit Details</h3>

                    </div>
                    <table class="transaction-history dashboard">

                        <tr>
                            <td>
                                First Name:
                            </td>
                            <td>@Model.FirstName</td>

                            <td>
                                <button asp-action="" class="btn-primary edit-detail-button">Edit</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Middle Name:
                            </td>
                            <td>@Model.MiddleName</td>
                            <td>
                                <button asp-action="" class="btn-primary edit-detail-button">Edit</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Last Name:
                            </td>
                            <td>@Model.LastName</td>
                            <td>
                                <button asp-action="" class="btn-primary edit-detail-button">Edit</button>
                            </td>
                        </tr>
                        @*<tr>
                            <td>
                                Phone Number1:
                            </td>
                            <td>08023234657</td>
                            <td>
                                <button asp-action="" class="btn-primary edit-detail-button">Edit</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone Number2:
                            </td>
                            <td>09035123428</td>
                            <td>
                                <button asp-action="" class="btn-primary edit-detail-button">Edit</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address:
                            </td>
                            <td>16, San Jose Street, Lagos Island, Lagos.</td>
                            <td>
                                <button asp-action="" class="btn-primary edit-detail-button">Edit</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Username:
                            </td>
                            <td>temmy@gmail.com</td>
                        </tr>*@
                    </table>
                </div>
            </div>


    </div>
    </div>
    </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
</body>